/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
	scroll-behavior: smooth;
}
section{
	padding:  100px 0px;
}
footer{
	height: 50px;
	background-color: #000000;
	color: crimson;
	font-size: 35px;
	font-weight: 100;
	text-align: center;
}
/*-----------------------------------------------------------------------------------------*/
/* Styling the navbar*/
.navbar{
	background: crimson;
	position: fixed;
	width: 100%;
    z-index:10;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}
.navbar ul{
	list-style: none;
	display: inline-block;
}
.navbar .menu li{
	display: inline-block;
}
.navbar .menu li a{
	display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
/*.menu-btn{
	color: #fff;
    font-size: 23px;
    cursor: pointer;
    /*display: none;*/
}

.title{
	position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
/*----------------------------------------------------Styling the home section----------------------------------------------------*/
.home{
	display: flex;
	background: url("https://www.teahub.io/photos/full/8-81348_adh-paysage-3d-name-wallpapers-make-your-name.jpg") no-repeat center;
	font-family: 'Ubuntu',sans-serif;
	background-size: cover;
	min-height: 500px;
	height: 100vh;
}
.home .max-width{
	display: flex;
	margin: auto;
	width: 60%;
	height: 80%;
}
.home-content{
	margin :auto;
	display: block;
	font-family: 'Ubuntu' ,sans-serif;
}

.dispTxt1{
	font-size: 85px;
	font-weight: bold;
	color: #ffffff;
}
.dispTxt2, .dispTxt0{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 45px;
	font-weight: normal;
	color: #ffffff;
}
.home-content span{
	font-size: 50px;
	font-weight: bold;
	color:  crimson;
}

/*----------------------------------------------------Styling the about section----------------------------------------------------*/
.about{
	font-family: 'Ubuntu',sans-serif;
	min-height: 500px;
	height: 100vh;
}
.about .max-width{
	width: 80%;
	height: 100%;
	margin :auto;
}
.about .max-width .about-contents{
	display: flex;
	justify-content: space-between;
}
.about .max-width .about-contents .profile-image{
	margin: 20px;
	width: 45%
}
.about .max-width .about-contents .profile-image img{
	object-fit: cover;
	height :400px;
	width: 400px;
	border-radius: 10px;
}
.about .max-width .about-contents .contents{
	border: 3px none green;
	margin-top: 80px;
	width : 55%;
}
.about .max-width .about-contents .contents p{
	font-size: 22px;
	text-align: justify;
	font-weight: 500;
}
.about .max-width .about-contents .contents .resume-link{
	background-color: crimson;
	margin-top: 30px;
	padding: 10px;
	font-weight: 500;
	font-size: 30px;
	border: 3px solid crimson;
	color: #ffffff;
	width: 50%;
	text-align: center;
	border-radius: 15px;
}
.about .max-width .about-contents .contents .resume-link:hover{
	background: none;
	color: crimson;
}
.about .title{
	margin-bottom: 45px;
	margin-top: 25px;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	color: #000000;
}
/*---------------------------------------------styling qualification section---------------------------------------------*/
.qualification{
	padding: 90px;
	font-family: 'Ubuntu',sans-serif;
	min-height: 500px;
	height: 90vh;
	background-color: #000000;
}
.qualification .max-width{
	width: 80%;
	height: 100%;
	margin :auto;
}
.qualification .title{
	margin-bottom: 45px;
	margin-top: 25px;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	color: #ffffff;
}
.qualification .max-width .edu-table{
	color: #ffffff;
	text-align: justify;
	font-size: 20px;
	font-weight: 350;
}
.qualification .max-width .edu-table tr{
	padding: 20px;
	margin: 20px;
}
.qualification .max-width .edu-table td{
	padding: 20px;
	margin: 20px;
}
.qualification .max-width .edu-table .name{
	text-align: center;
	font-weight: bolder;
}
/*---------------------------------------------styling skills section---------------------------------------------*/
.skills{
	font-family: 'Ubuntu',sans-serif;
	min-height: 500px;
	height: 130vh;
	padding: 90px ,0px;
}
.skills .max-width{
	width: 80%;
	height: 100%;
	margin :auto;
	display: block;
}
.skills .title{
	margin-bottom: 45px;
	margin-top: 25px;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	color: #000000;
}
.skills .max-width blockquote{
	font-size: 20px;
	font-weight: 100;
	color: crimson;
}
.skills .max-width blockquote::after{	
	content: "- Albert Einstein";
}
.skills .max-width .Technical{
	display: flex;
	justify-content: space-between;
}
.skills .max-width .subtitle{
	text-align: center;
	font-size: 33px;
	font-weight: 350;
	color: crimson;
	margin-top: 40px;
	margin-bottom: 25px;
}
.skills .max-width .Technical .left{
	border :3px none crimson;
	border-radius: 5px;
	width: calc(50% - 30px);
}
.skills .max-width .Technical .right{
	border :3px none crimson;
	border-radius: 5px;
	width: calc(50% - 30px);
}
.skills .max-width .Technical .score{
	color: crimson;
}
.skills .max-width .non-Technical{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.skills .max-width .non-Technical .left{
	border :3px none crimson;
	border-radius: 5px;
	width: calc(50% - 30px);
}
.skills .max-width .non-Technical .right{
	border :3px none crimson;
	border-radius: 5px;
	width: calc(50% - 30px);
}
.skills .max-width ul{
	list-style: none;
}
.skills .max-width li{
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
	color: #111111;
}
.skills .max-width .score{
	float: right;
}
.skills .max-width hr{
	margin: 10px;
	color: crimson;
	border-radius: 5px;
}

/*---------------------------------------------styling experience section---------------------------------------------*/
.experience{
	font-family: 'Ubuntu',sans-serif;
	min-height: 500px;
	height: 130vh;
	color: #ffffff;
	background-color: #000000;
}
.experience .max-width{
	width: 80%;
	height: 100%;
	margin: auto;
	text-align: center;
	display: block;
}
.experience .max-width blockquote{
	font-weight: 200;
	font-size: 20px;
	color: #dddddd;
}
.experience .max-width blockquote::after{
	content: "- Julius Caesar";
}
.experience .max-width .title{
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 25px;
}
.experience .max-width .subtitle{
	font-size: 35px;
	font-weight: 400;
	color: crimson;
	margin: 25px;
}
.experience .max-width .carousel{
	border: 3px solid crimson;
	height: 400px;
}
.experience .max-width .intern{
}
.experience .max-width .intern .contents{
	font-weight: 300;
	font-size: 20px;
	text-align: justify;
}
.experience .max-width .intern .contents li{
	font-size: 25px;
	font-weight: 400;
	margin: 10px;
}
/*---------------------------------------------styling contact section---------------------------------------------*/
.contact{
	font-family: 'Ubuntu',sans-serif;
	min-height: 500px;
	height: 80vh;
	color: #000000;
}
.contact .max-width{
	text-align: center;
	width: 80%;
	margin: auto;
	display: block;
}
.contact .max-width .title{
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 20px;
}
.contact .max-width blockquote{
	font-size: 20px;
	font-weight: 200;
	color: crimson;
	margin-top : 10px;
	margin-bottom: 60px;
}
.contact .max-width blockquote::after{
	content: "- Henry Ford";

}
.contact .max-width hr{
	color: crimson;
	height: 0.5px;
	border-radius: 5px;
	margin: 20px;
}
.contact .max-width .contact-icons{
	display: flex;
	margin: auto;
	width: 60%;
	padding: 80px;
	justify-content: space-between;
}
/*-------------icons------------*/
.fa{
	padding: 10px;
	font-size: 50px;
	text-align: center;
	border-radius: 15px;
	margin: 20px;
}
.fa-linkedin{
	background-color: #007bb5;
	color: #fff;
}
.fa-github{
	background-color: #171515;
	color: #fff;
}
.fa-envelope{
	background-color: red;
	color: #fff;
}
footer span:hover{
    text-decoration: underline;
}
/*responsive media queries*/

@media(max-width: 1070px){
	section{
		padding:  50px 0px;
	}
	.about{
		height: 110vh;
	}
	/*about section*/
	.about .max-width .title{
		margin-bottom:10px ;
	}
	.about .max-width .about-contents{
		display: block;
		padding: 50px 0px;
	}
	.about .max-width .about-contents .contents{
		width: 100%;
		flex: 100%;
		margin-top: 10px;
	}
	.about .max-width .about-contents .contents p{
		font-size: 18px;
		font-weight: 100;
	}
	.about .max-width .about-contents .profile-image{
		width: 100%;
		display: flex;
        justify-content: center;
        margin: auto;
        
	}
	.about .max-width .about-contents .profile-image img{
		width: 300px;
	}
	.about .max-width .about-contents .contents .resume-link{
		width: 40%;
		font-size: 20px;
	}
	
}
@media(max-width: 650px){
	.about .max-width .about-contents .contents .resume-link{
		width: 60%;
		margin: 5px;
		font-size: 20px;
	}
	
}
@media(max-width: 700px){
	/*qualification section*/
	.qualification{
		height: 90vh;
	}
	.qualification .max-width{
	width: 100%;
	height: 100%;
	margin :auto;
	}
	.qualification .max-width .edu-table{
		color: #ffffff;
		text-align: justify;
		font-size: 15px;
		font-weight: 250;
	}
}
@media(max-width: 780px){
	/*Skills section*/
	.skills .max-width .Technical{
		display: block;
		justify-content: space-between;
	}
	.skills .max-width .Technical .left{
		width: 80%;
		margin: auto;
	}
	.skills .max-width .Technical .right{
		width: 80%;
		margin: auto;
	}
	
}
@media(max-width: 800px){
	/*Contact section*/
	.contact .experience{
		height: 60vh;
	}
	.contact .max-width .contact-icons{
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin: auto;
		padding: 50px;
	}
}