*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
	scroll-behavior: smooth;
}
section{
	padding:  100px 0px;
}
/*-----------------------------------------------------------------------------------------*/
/* Styling the navbar*/
.navbar{
	background: crimson;
	position: fixed;
	width: 100%;
    z-index:10;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}
.navbar ul{
	list-style: none;
	display: inline-block;
}
.navbar .menu li{
	display: inline-block;
}
.navbar .menu li a{
	display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
/*.menu-btn{
	color: #fff;
    font-size: 23px;
    cursor: pointer;
    /*display: none;*/
}

.title{
	position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
/*----------------------------------------------------Styling the home section----------------------------------------------------*/
.home{
	display: flex;
	background: url("https://www.teahub.io/photos/full/8-81348_adh-paysage-3d-name-wallpapers-make-your-name.jpg") no-repeat center;
	font-family: 'Ubuntu',sans-serif;
	background-size: cover;
	min-height: 500px;
	height: 100vh;
}
.home .max-width{
	display: flex;
	margin: auto;
	width: 60%;
	height: 80%;
}
.home-content{
	margin :auto;
	display: block;
	font-family: 'Ubuntu' ,sans-serif;
}

.dispTxt1{
	font-size: 85px;
	font-weight: bold;
	color: #ffffff;
}
.dispTxt2, .dispTxt0{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 45px;
	font-weight: normal;
	color: #ffffff;
}
.home-content span{
	font-size: 50px;
	font-weight: bold;
	color:  crimson;
}

/*----------------------------------------------------Styling the about section----------------------------------------------------*/
.about{
	font-family: 'Ubuntu',sans-serif;
	min-height: 500px;
	height: 100vh;
}
.about .max-width{
	width: 80%;
	height: 100%;
	margin :auto;
}
.about .max-width .about-contents{
	display: flex;
	justify-content: space-between;
}
.about .max-width .about-contents .profile-image{
	margin: 20px;
	width: 45%
}
.about .max-width .about-contents .profile-image img{
	object-fit: cover;
	height :400px;
	width: 400px;
	border-radius: 10px;
}
.about .max-width .about-contents .contents{
	border: 3px none green;
	margin-top: 80px;
	width : 55%;
}
.about .max-width .about-contents .contents p{
	font-size: 22px;
	text-align: justify;
	font-weight: 500;
}
.about .max-width .about-contents .contents .resume-link{
	background-color: crimson;
	margin-top: 30px;
	padding: 10px;
	font-weight: 500;
	font-size: 30px;
	border: 3px solid crimson;
	color: #ffffff;
	width: 15vw;
	text-align: center;
	border-radius: 15px;
}
.about .max-width .about-contents .contents .resume-link:hover{
	background-color: #ffffff;
	color: crimson;
}
.about .title{
	margin-bottom: 45px;
	margin-top: 25px;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	color: #000000s;
}
